.container{
  padding-top: 40px;
}
.container-header{
  display: flex;
  margin-bottom: 30px;
  .header{
    margin: 100px 10px 0 40%;
    font-size: 40px;
  }
  .img{
    padding-top: 95px;
    width: 50px;
    height: 50px;
  }
}
.container-text{
  padding: 15px;
  border: 1px solid  var(--color-gray-3);
  border-radius: 15px;
  text-align: center;
  background-color: ghostwhite;
  margin: 0 25% 147.5px 25%;
  width: 50%;
}