.container-ipad {
  background-color: #0d1117;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  width: 50%;
  margin-bottom: 50px;
  .content_container-ipad {
    border-radius: 10px;
    background-color: #0d1117;
    padding-top: 40px;
    height: 550px;
    text-align: center;
    .content_item-poster-ipad  {
      background-image: url("/src/assets/img/home-page/poster_ipad.png");
      background-size: cover;
      width: 100%;
      height: 430px;
      margin-bottom: 10px;
    }
    .content_item-text-ipad  {
      width: 100%;
      .item_text-ipad  {
        color: white;
        font-size: 40px;
      }
      .item_link-ipad  {
        color: var(--color-gray-2);
        font-size: 20px;
        text-decoration: none;
        padding: 5px;
        border-radius: 10px;
      }
    }
  }
}